@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to National Wealth Bank of Australasia</h2>
    <br />
    <p style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; font-style: oblique; font-size: 1.2em">You are entering an Internet Banking System. Our System was establised in 2002. So far, we have had over 5 million active users. We are very happy that you choose us as your banking partner. We will do our utmost to provide you an enjoyable service.</p>
    <br />
    <img src="https://images.cointelegraph.com/images/1480_IGh0dHBzOi8vczMuY29pbnRlbGVncmFwaC5jb20vc3RvcmFnZS91cGxvYWRzL3ZpZXcvZTg0Njc1Y2QxNjhkYmY3NmQ1ODg2NDgyOGZiOGNlMmYuanBn.jpg" width="500" height="360" alt="There is a picture"/> 
</div>
