@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Welcome to Admin Page</h1>
        <img src="https://sterlingit.com.au/wp-content/uploads/2017/09/sit-icon-security.png" width="400" height="360" alt="There is a picture" />
    </div>
