@model Login
@{
    ViewData["Title"] = "Login";
}

<h3>Please enter your new password and confirm</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div class="form-group">
                <label for="Password" class="control-label">New Password</label>
                <input id="Password1" name="password1" type="password" class="form-control"
                       data-val="true" data-val-required="The Password field is required." />
                @Html.ValidationMessage("Password1", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="Password" class="control-label">Confirm Your Password</label>
                <input id="Password2" name="password2" type="password" class="form-control"
                       data-val="true" data-val-required="The Password field is required." />
                @Html.ValidationMessage("Password2", new { @class = "text-danger" })
            </div>
            <div class="buttonbar" style="width:100%">
                <input onclick="passwordValidation()" type="submit" value="Change Password" class="btn btn-secondary" />
                <a class="btn btn-secondary" type="submit" asp-controller="Customers" asp-action="Profile">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
    function passwordValidation() {
        var input1 = document.getElementById("Password1").value;
        var input2 = document.getElementById("Password2").value;

        if (input1 != input2) {
            alert("Two passwords entered are inconsistent! Please re-enter!");
            event.preventDefault();
        }
        else {
            alert("New password is successfully saved!");
        }
    }
</script>


